*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
}
.content{
    width:100vw;
    height: 100vh;
    background: url('../img/error_background.jpg') center no-repeat;
    background-size:cover ;
}
.text-1{
    padding:  10% 0 0 10%;
    font-size: 5em;
    color:#eee;
}
.text-2{
    padding: 15% 0 0 10%;
    font-size: 5em;
    color:#eee;
}