*{
    margin: 0;
    padding: 0;
}
.conteiner{
    background: #E5E5E5;
    font-size: 14px;
    max-width:1920px;
    max-height: 1440px;    
}
.header{
    display: flex;
    max-width: 1920px;
    max-height: 181px;
    position: relative;
}
.img1{
    padding: 2% 0 0 6%;
    max-width:300px;
    max-height:150px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('../img/head.png')0 0/100% 100%  no-repeat;
    width:80%;
    height: 181px;
}
.a1{
    width: 20%;
    padding: 0 10% 0 5%;
    font-size: 1.5em;
}
.a2{
    width: 25%;
    padding: 0 10% 0 0;
    font-size: 1.5em;
}
.a3{
    max-width: 150px;
    max-height: 150px;  
}
.img2{
    width: 35px;
}
a{
    color:#D2F0FF;
    text-decoration: none;
  }
    a:visited{
      color: #fff;
    }
  a:hover{
    color:#D2F0FF;
    text-decoration: underline;
}
.content-vopros{
    max-width:1920px;
    max-height:1024px;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/question_background.png');
}
.vopros-main{
    background: #FFFFFF;
    border-radius: 30px;;
    height: 60%;
    width: 50%;
    max-height:500px
}
.vopros-nomer{
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;

}
.strelka1-vopros{
    width: 15px;
    height: 15px;
    margin: 1.8% 1% 0 0;
}
.strelka2-vopros{
    width: 15px;
    height: 15px;
    margin: 1.8% 0 0 1%;
}
.text1-vopros{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #000000;
}
.text2-vopros{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #000000;
}
.button-vopros{
    background: #ECEEEE;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    width: 50%;
    height: 8%;
    margin: 4% 0 0 25%;
}
.button-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    color: #000000;
}
@media (max-width:1250px) {
    .main{
        height: 50%;
    }
}
@media (max-width:820px) {
    .a1{
        font-size: 1em;
    }
    .a2{
        font-size: 1em;
    }
    .text2-vopros{
        font-size: 20px;
    }
    .vopros-main{
        height: 40%;
    }
}
@media (max-width:655px) {
    .a1{
        font-size: 12px;
    }
    .a2{
        font-size: 12px;
    }
    .img1{
        height: 100px;
        width: 150px;
    }
    .icons{
        height: 100px;
    }
}
@media (max-width:460px) {
    .vopros-main{
        height: 50%;
    }
    .strelka1-vopros{
        width: 10px;
        height: 10px;
        margin: 9% 0 0 1%;
    }
    .strelka2-vopros{
        width: 10px;
        height: 10px;
        margin: 9% 0 0 1%;
    }
    .text1-vopros{
        font-size: 20px;
    }
    .text2-vopros{
        font-size: 11px;
    }
    .a1{
        padding: 0 10% 0 7%;
        font-size: 9px;
    }
    .a2{
        font-size: 9px;
        padding: 0 8% 0 2%;
    }
}
@media (max-width:360px) {
    .a1{
        font-size: 8px;
    }
    .a2{
        font-size: 8px;
    }

}